#header-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: #ff6600;
}
#nav-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.first-bar {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
#logo-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
#login-area a {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.first-bar li {
  list-style: none;
  padding: 1rem;
  color: antiquewhite;
}
.first-bar li a,
#login-area a {
  color: antiquewhite;
  text-decoration: none;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
}

#logo-area p {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

#login-area {
  padding-left: 300px;
}
.first-bar li::after {
  content: "|";
  padding-left: 22px;
}
.first-bar li:last-child::after {
  content: none;
}

.footer-menu {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 100vw;
  list-style: none;
  background-color: #ff6600;
}
.footer-menu a:hover {
  color: antiquewhite;
}

.footer-menu a {
  color: antiquewhite;
  text-decoration: none;
}

.section-search button {
  margin-left: 1rem;
  height: 30px;
  width: 100px;
  border-radius: 30px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 3rem;
}
.section-search input {
  height: 20px;
  width: 250px;
  border-radius: 30px;
  padding-left: 1rem;
}

#read-full {
  height: 30px;
  width: 200px;
  border-radius: 30px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  padding-top: 0.25rem;
  margin-top: 1rem;
}

.title a {
  height: 30px;
  width: 200px;
  border-radius: 30px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  padding-top: 0.25rem;
}
.title a:hover {
  color: black;
}
#read-full a:hover,
#read-full a:visited,
#read-full a:link {
  color: black;
}
.cards-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
}
